@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.answered::after {
    content: "";
    background-color: white;
    position: absolute;
    left: 183px;
    bottom: -1px;
    width: 151px;
    height: 3px;
}

.not-answered::after {
    content: "";
    background-color: white;
    position: absolute;
    left: 1px;
    bottom: -1px;
    width: 180px;
    height: 3px;
}
